#top
{
  background: #141;
  height: 50px;
  text-align: center;
  color: #fff;
}
#left
{
  position: absolute;
  left: 8px;
  top: 69px;
  width: 220px;
}
#center
{
  margin-top: 10px;
  margin-left: 200px;
  margin-right: 140px;
}
#dataTable01
{
}
#right
{
  position: absolute;
  right: 8px;
  top: 69px;
  width: 220px;
  text-align: center;
  width: 221px;
}
#hot1
{
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
  padding-left: 1em;
  padding-top: 1ex;
  padding-bottom: 1ex;
  padding-right: 1em;
}
a
{
  text-decoration: none;
}
#columns
{
  width: 252px;
  padding-left: 1em;
  padding-top: 1ex;
  padding-bottom: 1ex;
  padding-right: 1em;
}
#columns a
{
  color: #000;
  font-weight: bold;
}
#columns a:hover
{
  color: #141;
  cursor: pointer;
}
#columns td
{
  color: #000;
  text-decoration: none;
}
#columns td a
{
  cursor: pointer;
  text-decoration: none;
}
#columns td a:hover
{
  color: #141;
  background-color: #eec;
}
tr.highlightOffOdd
{
  color: #000;
  background: #ccc;
}
tr.highlightOffEven
{
  color: #000;
  background: #999;
}
tr.highlightOn
{
  color: #000;
  background: #f99;
  border-left: 1px solid transparent;
}

a.msgClass:link, a.msgClass:visited
{
  text-align: left;
  /*font-size: 11px;*/
  font-weight: normal;
  font-style: normal;
  color: #000;
  text-decoration: none;
}
a.msgClass:hover
{
  cursor: pointer;
  text-decoration: none;
}
.msgTdClass
{
  width:150px;
  text-decoration: underline;
}
#msgText
{
  display: none;
}
#textSpot2
{
  font-size: larger;
  font-weight: bold;
  color: #ff3400;
}
.toWhom, .toWhomText
{
}
.headerow
{
  font-weight: bold;
  background-color: #ada; 
}
.userFarfel
{
  color: #930800;
}

a.playername:link, a.playername:visited
{
  text-align: left;
  font-weight: bold;
  font-style: normal;
  color: #104E93;
  text-decoration: underline;
}
a.playername:hover
{
  cursor: pointer;
  border: 1px dashed darkblue;
}
